<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Editar artigo</h2>
        </div>
        <div class="card-body">
            <form method="post" action="/">
                <label><b>Título</b></label>
                <br>
                <input class="form-control" type="text" name="title" placeholder="Título do artigo">
                <br>
                <label><b>Artigo</b></label>
                <br>
                <textarea id="article" class="form-control" name="body" placeholder="Escreva o artigo aqui..."><%= article.body %></textarea>
                <br>
                <label><b>Categoria</b></label>
                <select class="form-control" name="category">
                    <% categories.forEach(category => { %>

                        <% if(category.id == article.categoryId) {%>
                            <option value="<%= category.id %>" selected><%= category.title %></option>
                        <% } else { %>
                            <option value="<%= category.id %>"><%= category.title %></option>
                        <% } %>
                        
                    <% }) %>
                </select>
                <br>
                <button type="submit" class="btn btn-warning">Editar</button>
            </form>
        </div>
    </div>
</div>

<div id="content" style="display: none;">
    <%- article.body %>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src="/tinymce/tinymce.min.js" ></script>
<script>
    tinymce.init({
        language: "pt_BR",
        selector: "#article",
        plugins: [
            'advlist autolink link image lists print preview hr searchreplace wordcount insertdatetime media save table'+
            ' paste emoticons'
        ],
    });
</script>


